ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    two_d_mode: true
    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # Use TWIST directly
    twist0: /wheel_twist
    twist0_config: [false, false, false,  false, false, false,
                    true,  false, false,  false, false, true,
                    false, false, false]
    twist0_differential: false
    twist0_relative: false

    imu0: /imu/data
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  false, false, false,
                  false, false, false]
    imu0_remove_gravitational_acceleration: true
